@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
html {
	scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom: 5px solid #6f6f6f;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;
}

nav h1{
    color: orangered;
    font-family: 'Rubik Puddles', cursive;
    font-size: 30px;

}

nav h1:hover{
    color: #717171;
}


nav .onglets a{
    text-decoration: none;
    color: #000;
    margin-left: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    transition: all 400ms ease-in-out;
}

nav .onglets a:hover {
    font-size: 30px;
    color: orangered;
    border-bottom: 1px solid orangered;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header{
    display:flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(-45deg, #000,#23d5ab, #e73c7e, #23a6d5, #fff);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
    color: white;
    padding: 40px;
    transition: background-color 1s ease;
    transition: all 3s ease;
}

header h1{
    transition: all 400ms ease-in-out;
    font-family: 'Rubik Puddles', cursive;
    font-size: 100px;
}
header h1:hover{
    color: #000;
    font-size: 120px;
}

header h4{
    font-size: 50px;
    margin-top: -20px;
    text-align: center;
}
header button{
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

header button:hover{
    background-color: orangered;
    padding:20px 40px;
    font-weight: bold;
    color : white;
}
@media screen and (max-width:450px){
    nav .onglets a{
        margin: auto;
    }
    header h1{
        font-size: 50px;
    }
    header h1:hover{
        color: orangered;
        font-size: 0px;
    }
    header h4{
        font-size: 25px;
    }
}